<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Angular sidenav-bar</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/bar">Home</a>
            <a mat-list-item routerLink="/product">product</a>
            <a mat-list-item>Add-product</a>
            <a mat-list-item>Contract-us</a>
            <a mat-list-item routerLink="/help">Help</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">

        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->
